* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;

}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.container {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    border-radius: 20px;
    width: 800px;
}

.title {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    opacity: 50%;
    font-size: 1em;
    padding: 10px;
}

.content {
    width: 50%;
    margin: 10px;
    padding: 10px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}


.product_name {
    font-family: 'Fraunces', serif;
    font-size: 35px;
    padding: 10px;
}

.btn-container {
    margin-top: 15px;
    background-color: rgb(29, 64, 29);
    align-self: center;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    border-radius: 10px;
    width: 200px;
}

.cart {
    object-fit: contain;
    width: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 10px;
}

s {
    text-decoration: line-through;
    opacity: 50%;
    color: black;
    font-size: 14px;
    font-weight: normal;
    align-self: flex-end;
}

.test {
    color: red;
}


div > .paragraph {
    opacity: 50%;
    margin: 10px;
}

.price_after_dic {
    font-size: 40px;
}

.btn {
    background-color: rgb(29, 64, 29);
    font-size: 15px;
    margin: 0;
    border: 50px;
    color: aliceblue;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.number {
    display: flex;
    justify-content: space-between;
}

.cover_image {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    flex: 0 1 50%;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

@media screen and (max-width: 1440px) {
    body {
        background-color: tomato;
    }

    .container {
        display: flex;
        background-color: hsl(0, 0%, 100%);
        margin: 0 auto;
        width: 50%;
        border-radius: 10px;
        height: 50%;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 640px) {
    body {
        background-color: aqua;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .content {
        width: 100%;
    }

    .btn-container {
        align-self: center;
    }
}

/*- Dark cyan: hsl(158, 36%, 37%)*/
/*- Cream: hsl(30, 38%, 92%)*/

/*### Neutral*/

/*- Very dark blue: hsl(212, 21%, 14%)*/
/*- Dark grayish blue: hsl(228, 12%, 48%)*/
/*- White: hsl(0, 0%, 100%)*/